body {
  background-color: black;
  color: white;
  text-align: center;
}

.board {
  display: grid;
  border: 5px solid white;
  margin: 5% auto;
  padding: 2%;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 8vmin;
  color: white;
}

.cell:nth-child(-n+3) {
  border-bottom: 2px solid white;
}

.cell:nth-child(3n+1) {
  border-right: 2px solid white;
}

.cell:nth-child(3n) {
  border-left: 2px solid white;
}

.cell:nth-child(n+7) {
  border-top: 2px solid white;
}